* {
  font-family: "Roboto", sans-serif;
}
.hero {
  background-image: url(../img/hero-img.png);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.hero-prod {
  background-image: url(../img/products-bg.png);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.lc-block {
  color: white;
}
.fw-bold > span {
  color: #4ce5ae;
}
.content-hero {
  position: absolute;
}
.content-hero > h1 {
  color: #4ce5ae;
}
.content-hero > p {
  color: azure;
}

.bottom {
  background-color: #4ce5ae;
}

.d-flex {
  padding-top: 0.8rem;
}

.footer-content {
  justify-content: space-between;
  padding-bottom: 0.8rem;
}

.container {
  justify-content: space-between;
}

.carousel {
  padding: 4rem 0;
  width: 100%;
}

.carousel-indicators [data-bs-target] {
  background-color: #4ce5ae;
}

.btn-primary {
  color: #1d1d28;
  background-color: #4ce5ae;
  border-color: #4ce5ae;
}

.btn-primary:hover {
  color: #1d1d28;
  background-color: #42c092;
  border-color: #42c092;
}

.btn-outline-primary {
  color: #4ce5ae;
  border-color: #4ce5ae;
}
.btn-outline-primary:hover {
  color: #1d1d28;
  background-color: #4ce5ae;
  border-color: #4ce5ae;
}

.robotcarousel {
  padding-bottom: 0;
}
.projects {
  color: white;
}

.projects > span {
  color: #4ce5ae;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-flex;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #4ce5ae;
  border-radius: 50%;
  background-size: 60% 60%;

  cursor: pointer;
}

.carousel-control-next-icon:before,
.carousel-control-prev-icon:before {
  content: "";
  position: absolute;
  display: inline-flex;
  width: 12px;
  height: 12px;
}

.carousel-control-next-icon:before,
.carousel-control-prev-icon:before {
  content: "";
  position: absolute;
  display: inline-flex;
  width: 12px;
  height: 12px;
}

.carousel-indicators {
  position: relative;
  padding: 3rem;
}

.btn {
  padding: 1rem 4rem;
}

.profile-content {
  padding: 4rem;
}

.profile-content > h1 {
  margin-bottom: 24px;
}

.profile-content > p {
  margin-bottom: 38px;
  color: white;
}
.hammad {
  background-color: #353544;
  padding: 0;
  background-clip: padding-box;
}

.img-content {
  padding: 4rem 0;
}

/* social-media-icons */

/* header */

.navbar.navbar-wrapper {
  background-color: #1d1d28;
}
.navbar-wrapper .navbar-brand {
  cursor: pointer;
}
.navbar-wrapper .navbar-nav .nav-item {
  list-style: none;
}
.navbar-wrapper .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.navbar-wrapper .navbar-nav .nav-item .nav-link:active {
  color: #4ce5ae;
}
