.hero {
    background-image: url(../img/hero-img.png);
    background-size: cover;
    min-height: 100vh;
    position: relative;
     
}
.content-hero {
    position: absolute;

}
.content-hero > h1 {
    color: #4CE5AE;

}
.content-hero > p {
    color: azure;
}
